.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 150px;
}

.List {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 24px 16px;
  margin-top: 24px;
}

.Card {
  font-size: 4rem;
}

.Card__text {
  font-size: 14px;
}
